body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

  background-image: url("https://images.unsplash.com/photo-1534438327276-14e5300c3a48");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: -1;
}
.container {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  padding: 50px;
  border-radius: 20px;
  width: 420px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255,255,255,0.2);
}
.title {
  text-align: center;
  color: #ffffff;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 4px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #667eea;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #5a67d8;
}

.task-list {
  margin-top: 20px;
}

.task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.task-card:hover {
  background: #e2e8f0;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.app-wrapper {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.goal-group {
  width: 300px;
}

.goal-header {
  background: #ff3c3c;
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.3s;
}

.goal-header:hover {
  background: #cc0000;
}

.goal-list {
  margin-top: 15px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(8px);
  padding: 15px;
  border-radius: 15px;
}

.goal-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: white;
}

.goals-page {
  padding: 50px;
  text-align: center;
  color: white;
}

.goal-list-page {
  margin-top: 30px;
}

.goal-item-page {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
  width: 400px;
  padding: 15px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
}
.view-btn {
  margin-top: 20px;
  width: 100%;
}